altgraph==0.17
click==7.1.2
dnspython==1.16.0
Flask==1.1.2
Flask-Cors==3.0.8
Flask-SocketIO==4.3.1
future==0.18.2
greenlet==0.4.16
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
monotonic==1.5
pefile==2019.4.18
pgpubsub==0.0.5
psycopg2==2.8.5
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.7
python-engineio==3.13.1
python-socketio==4.6.0
pywin32-ctypes==0.2.0
six==1.15.0
Werkzeug==1.0.1
